<!DOCTYPE html>
<html>

  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- COMMON TAGS -->
	<title>Reverse Engineering of the Django Admin Foreign Key's Add/Edit Button | DjangoPy</title>
	<!-- Search Engine -->
	<meta property="description" content="In this tutorial, we will learn about how to add Django Admin's Foreign key's Add and Edit feature on Django form, so that we can easily add and edit the Foreign Key element in a pop-up window.">
	<meta property="image" content="https://djangopy.org/static/images/footer_logo.png">
	<!-- Schema.org for Google -->

	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:title" content="Reverse Engineering of the Django Admin Foreign Key's Add/Edit Button | DjangoPy">
	<meta property="og:description" content="In this tutorial, we will learn about how to add Django Admin's Foreign key's Add and Edit feature on Django form, so that we can easily add and edit the Foreign Key element in a pop-up window.">
	<meta property="og:image" content="https://djangopy.org/img/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/cover.jpg">

	<meta property="og:url" content="https://djangopy.org/how-to/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/">
	<meta property="og:site_name" content="DjangoPy">
	<meta property="og:locale" content="en_US">
	<meta property="fb:admins" content="https://www.facebook.com/djangopy.org">
	<meta property="og:type" content="article">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Reverse Engineering of the Django Admin Foreign Key's Add/Edit Button | DjangoPy">
	<meta property="twitter:description" content="In this tutorial, we will learn about how to add Django Admin's Foreign key's Add and Edit feature on Django form, so that we can easily add and edit the Foreign Key element in a pop-up window.">
	<meta property="twitter:site" content="@DjangoPy_Admin">
	<meta property="twitter:creator" content="@DjangoPy_Admin">
	<meta property="twitter:image:src" content="https://djangopy.org/img/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/cover.jpg">
	<!-- Twitter - Article -->

	<!-- Open Graph - Article -->
	<meta property="article:section" content="how-to">
	<meta property="article:published_time" content="2017-07-07 20:34:07 +0530">
	<meta properry="article:author" content="https://www.facebook.com/djangopy.org">
	<meta property="article:modified_time" content="2017-07-07 20:34:07 +0530">
	
	<meta property="article:tag" content="Django-Admin-Foreign-Key"/>
	
	<meta property="article:tag" content="Django-Admin"/>
	
	<meta property="article:tag" content="Foreign-Key-Add"/>
	
	<meta property="article:tag" content="Foreign-Key-Edit"/>
	
	<meta property="article:tag" content="ForeignKey-add"/>
	
	<meta property="article:tag" content="Reverse-Engineering-Django"/>
	
	<meta property="article:tag" content="Reverse-Engineering-the-Django-Admin-Foreign-Key's-Add/Edit-Button"/>
	
	<meta property="article:tag" content="DjangoPy"/>
	
	<meta property="article:tag" content="django"/>
	

	<meta property="revisit-after" content="2 days" />
	<meta property="distribution" content="web" />
	<meta property="article:publisher" content="https://www.facebook.com/djangopy.org/"/>
	<meta name="description" content="In this tutorial, we will learn about how to add Django Admin's Foreign key's Add and Edit feature on Django form, so that we can easily add and edit the Foreign Key element in a pop-up window."/>


	<!--   <link rel="stylesheet" href="/css/main.css"> -->
	<link rel="canonical" href="https://djangopy.org/how-to/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/">
	<link rel="alternate" type="application/rss+xml" title="DjangoPy" href="https://djangopy.org/feed.xml">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel = "stylesheet" href="/css/github.css">

	<!-- Fancybox-->
<link rel="stylesheet" type="text/css" href="/css/fonts/fonts.min.css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
	<!-- theme stylesheet-->
	<link rel="stylesheet" href="/css/default.css" id="theme-stylesheet">
	<!-- Custom stylesheet - for your changes-->
	<link rel="stylesheet" href="/css/custom.css">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/img/favicon1.ico">

	<!-- Javascript files-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"> </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
	<script src="/js/front.js"></script>
	<script type="text/javascript" src = "/js/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

<script type="text/javascript">
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-98271390-1', 'auto');
  ga('send', 'pageview');
</script>

</head>

  <body>
    <header class="header">
  <!-- Main Navbar-->
  <nav class="navbar navbar-expand-lg navbar-toggleable-lg">
    <div class="search-area">
      <div class="search-area-inner d-flex justify-content-center">
        <div class="close-btn"><i class="fa fa-2x fa-times"></i></div>
        <div class="row d-flex justify-content-center" style="margin-top:12%;">
          <div class="col-md-8">
            <form action="#" id = "search_form">
              <div class="form-group">
                <input type="search" name="search" id="search" placeholder="What are you looking for?" autocomplete="off">
                <button type="submit" class="submit"><i class="fa fa-search"></i></button>
              </div>
              <div id = "search_results">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Navbar Brand -->
      <div class="navbar-header d-flex align-items-center justify-content-between">
        <!-- Navbar Brand --><a href="/" class="navbar-brand"><img src = "/img/djangopy_logo8.png" id = "logo"></a>
        <!-- Toggle Button-->
        <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
      </div>
      <!-- Navbar Menu -->
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link active ">Home</a>
          </li>
          <li class="nav-item"><a href="/about" class="nav-link ">About</a>
          </li>
          <li class="nav-item"><a href="/" class="nav-link ">Posts</a>
          </li>
          <li class="nav-item"><a href="/contact" class="nav-link ">Contact</a>
          </li>
        </ul>
        <div class="navbar-text"><a href="#" class="search-btn" id = "search_button"><i class="fa fa-search"></i></a></div>
      </div>
    </div>
  </nav>
</header>


    <div class="page-content">
      <div class="wrapper">
        <br>
<div class="post">
<div class="container">
  <div class="row justify-content-md-center">
    <div class = "col-md-9">
<img class = "img-fluid" alt="" src="/img/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/cover.jpg" title="" srcset="/assets/resized/480/cover.jpg 480w,/assets/resized/800/cover.jpg 800w,/img/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/cover.jpg 1240w">

	<br><br>
    <h1 class="post-title" style="margin-top:15px;">Reverse Engineering of the Django Admin Foreign Key's Add/Edit Button</h1>
    <h6 class = "post-spans">Posted: 07 July 2017 | Post By: Jai Singhal | <span id = "ga-page-view" ga-page-url = /how-to/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/></span> <i class = "fa fa-eye"></i>  | <i class = "fa fa-clock"></i> 7 min read | <a style="text-decoration: none;" href="/how-to/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/.html#disqus_thread" data-disqus-identifier="/how-to/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/"><i class = "fa fa-comment"></i></a>  </h6>
   <br> <hr /><br>
    <div class = "post-content"> <h2 id="introduction">Introduction</h2>
<p>In this tutorial, we will learn about how to add Django Admin’s Foreign key’s Add and Edit feature on Django form, so that we can easily add and edit the Foreign Key element in a pop-up window without refreshing the same page. This can be done with the help of AJAX.</p>

<p>Recently I was working on a project and I wanted a functionality such that I can add Foreign Key element just like Django Admin provides. I wanted this feature to be implemented in a form of my app and I found this interesting and surely it will be interesting and helpful to you too.</p>

<p><img class="img-fluid" alt="" src="/img/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/2.jpg" title="" srcset="/assets/resized/480/2.jpg 480w,/assets/resized/800/2.jpg 800w,/img/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/2.jpg 998w" /></p>

<h2 id="implementing-server-side">Implementing Server-side</h2>
<p>Now let’s implement this functionality to your Django app. I will discuss the implementation with the help of an example. Here I take an example of Model Book and Author where Author is a foreign key field in Book Model.</p>

<h4 id="modelspy">Models.py</h4>
<p>For the example discussed above, the class Model Author and Book would look like which is shown below. You need NOT to change your models.py, this is just for the sake of explaining with the appropriate example.</p>

<figure class="highlight"><pre><code class="language-python" data-lang="python"><span class="kn">from</span> <span class="nn">django.db</span> <span class="kn">import</span> <span class="n">models</span>
<span class="kn">from</span> <span class="nn">django.utils</span> <span class="kn">import</span> <span class="n">timezone</span>

<span class="k">class</span> <span class="nc">Author</span><span class="p">(</span><span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
	<span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span> <span class="o">=</span> <span class="mi">100</span><span class="p">)</span>
	<span class="k">def</span> <span class="nf">__str__</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
		<span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">name</span>

<span class="k">class</span> <span class="nc">Book</span><span class="p">(</span><span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
	<span class="n">title</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span> <span class="o">=</span> <span class="mi">100</span><span class="p">)</span>	
	<span class="n">author</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">ForeignKey</span><span class="p">(</span><span class="n">Author</span><span class="p">)</span>
	<span class="n">price</span> <span class="o">=</span>  <span class="n">models</span><span class="o">.</span><span class="n">DecimalField</span><span class="p">(</span><span class="n">max_digits</span><span class="o">=</span><span class="mi">12</span><span class="p">,</span> <span class="n">decimal_places</span><span class="o">=</span><span class="mi">4</span><span class="p">,</span> <span class="n">default</span> <span class="o">=</span> <span class="mi">0</span><span class="p">)</span>
	<span class="n">publish</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DateField</span><span class="p">(</span><span class="n">default</span><span class="o">=</span><span class="n">timezone</span><span class="o">.</span><span class="n">now</span><span class="p">)</span>
	<span class="k">def</span> <span class="nf">__str__</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
		<span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">title</span></code></pre></figure>

<h4 id="formspy">Forms.py</h4>
<p>Design your form and do other Validations, here I am, showed you a basic example of forms</p>

<figure class="highlight"><pre><code class="language-python" data-lang="python"><span class="kn">from</span> <span class="nn">django.forms</span> <span class="kn">import</span> <span class="n">ModelForm</span>
<span class="k">from</span> <span class="o">.</span><span class="n">models</span> <span class="n">Book</span><span class="p">,</span> <span class="n">Author</span>

<span class="k">class</span> <span class="nc">BookForm</span><span class="p">(</span><span class="n">forms</span><span class="o">.</span><span class="n">ModelForm</span><span class="p">):</span>
	<span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
		<span class="n">model</span> <span class="o">=</span> <span class="n">Book</span>
		<span class="n">fields</span> <span class="o">=</span> <span class="p">[</span>
			<span class="s">"title"</span><span class="p">,</span>
			<span class="s">"author"</span><span class="p">,</span>
			<span class="s">"price"</span><span class="p">,</span>
			<span class="s">"publish"</span><span class="p">,</span>
		<span class="p">]</span>

<span class="k">class</span> <span class="nc">AuthorForm</span><span class="p">(</span><span class="n">forms</span><span class="o">.</span><span class="n">ModelForm</span><span class="p">):</span>
	<span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span>
		<span class="n">model</span> <span class="o">=</span> <span class="n">Author</span>
		<span class="n">fields</span> <span class="o">=</span> <span class="p">[</span>
			<span class="s">"name"</span>
		<span class="p">]</span></code></pre></figure>

<h4 id="viewspy">Views.py</h4>
<p>Now, this is the important part of this tutorial. First of all, import all the forms, models and all the necessary imports to the view. Here I am using Function based views, you can use Class Based views it doesn’t matter.</p>

<p>These functions are self-explanatory, only the HttpResponse with JS script may be tricky for you to understand, it is only sending a response of script to close the popup by calling the function closePopup once the form is successfully submitted.</p>

<p>Note that in function get_author_id(), I have used a decorator @csrf_exempt, this is done so because when you make Ajax call you need to send csrftoken in data. You can remove this decorator and send a csrftoken with the ajax call which is discussed the same in the previous Post</p>

<figure class="highlight"><pre><code class="language-python" data-lang="python"><span class="kn">from</span> <span class="nn">django.shortcuts</span> <span class="kn">import</span> <span class="n">render</span>
<span class="kn">from</span> <span class="nn">django.http</span> <span class="kn">import</span> <span class="n">HttpResponse</span><span class="p">,</span> <span class="n">HttpResponseRedirect</span>
<span class="kn">from</span> <span class="nn">.forms</span> <span class="kn">import</span> <span class="n">BookForm</span><span class="p">,</span> <span class="n">AuthorForm</span>
<span class="kn">from</span> <span class="nn">.models</span> <span class="kn">import</span> <span class="n">Book</span><span class="p">,</span> <span class="n">Author</span>
<span class="kn">from</span> <span class="nn">django.views.decorators.csrf</span> <span class="kn">import</span> <span class="n">csrf_exempt</span>
<span class="kn">import</span> <span class="nn">json</span>

<span class="k">def</span> <span class="nf">BookCreate</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
	<span class="n">form</span> <span class="o">=</span> <span class="n">BookForm</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">POST</span> <span class="ow">or</span> <span class="bp">None</span><span class="p">)</span>
	<span class="k">if</span> <span class="n">form</span><span class="o">.</span><span class="n">is_valid</span><span class="p">():</span>
		<span class="n">instance</span> <span class="o">=</span> <span class="n">form</span><span class="o">.</span><span class="n">save</span><span class="p">()</span>		
		<span class="k">return</span> <span class="n">HttpResponseRedirect</span><span class="p">(</span><span class="s">"/"</span><span class="p">)</span>
	<span class="k">return</span> <span class="n">render</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="s">"book_form.html"</span><span class="p">,</span> <span class="p">{</span><span class="s">"form"</span> <span class="p">:</span> <span class="n">form</span><span class="p">,})</span>

<span class="k">def</span> <span class="nf">AuthorCreatePopup</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
	<span class="n">form</span> <span class="o">=</span> <span class="n">AuthorForm</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">POST</span> <span class="ow">or</span> <span class="bp">None</span><span class="p">)</span>
	<span class="k">if</span> <span class="n">form</span><span class="o">.</span><span class="n">is_valid</span><span class="p">():</span>
		<span class="n">instance</span> <span class="o">=</span> <span class="n">form</span><span class="o">.</span><span class="n">save</span><span class="p">()</span>

		<span class="c">## Change the value of the "#id_author". This is the element id in the form</span>
		
		<span class="k">return</span> <span class="n">HttpResponse</span><span class="p">(</span><span class="s">'&lt;script&gt;opener.closePopup(window, "</span><span class="si">%</span><span class="s">s", "</span><span class="si">%</span><span class="s">s", "#id_author");&lt;/script&gt;'</span> <span class="o">%</span> <span class="p">(</span><span class="n">instance</span><span class="o">.</span><span class="n">pk</span><span class="p">,</span> <span class="n">instance</span><span class="p">))</span>
	
	<span class="k">return</span> <span class="n">render</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="s">"author_form.html"</span><span class="p">,</span> <span class="p">{</span><span class="s">"form"</span> <span class="p">:</span> <span class="n">form</span><span class="p">})</span>

<span class="k">def</span> <span class="nf">AuthorEditPopup</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">pk</span> <span class="o">=</span> <span class="bp">None</span><span class="p">):</span>
	<span class="n">instance</span> <span class="o">=</span> <span class="n">get_object_or_404</span><span class="p">(</span><span class="n">Author</span><span class="p">,</span> <span class="n">pk</span> <span class="o">=</span> <span class="n">pk</span><span class="p">)</span>
	<span class="n">form</span> <span class="o">=</span> <span class="n">AuthorForm</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">POST</span> <span class="ow">or</span> <span class="bp">None</span><span class="p">,</span> <span class="n">instance</span> <span class="o">=</span> <span class="n">instance</span><span class="p">)</span>
	<span class="k">if</span> <span class="n">form</span><span class="o">.</span><span class="n">is_valid</span><span class="p">():</span>
		<span class="n">instance</span> <span class="o">=</span> <span class="n">form</span><span class="o">.</span><span class="n">save</span><span class="p">()</span>
		
		<span class="c">## Change the value of the "#id_author". This is the element id in the form</span>
		
		<span class="k">return</span> <span class="n">HttpResponse</span><span class="p">(</span><span class="s">'&lt;script&gt;opener.closePopup(window, "</span><span class="si">%</span><span class="s">s", "</span><span class="si">%</span><span class="s">s", "#id_author");&lt;/script&gt;'</span> <span class="o">%</span> <span class="p">(</span><span class="n">instance</span><span class="o">.</span><span class="n">pk</span><span class="p">,</span> <span class="n">instance</span><span class="p">))</span>

	<span class="k">return</span> <span class="n">render</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="s">"author_form.html"</span><span class="p">,</span> <span class="p">{</span><span class="s">"form"</span> <span class="p">:</span> <span class="n">form</span><span class="p">})</span>

<span class="nd">@csrf_exempt</span>
<span class="k">def</span> <span class="nf">get_author_id</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
	<span class="k">if</span> <span class="n">request</span><span class="o">.</span><span class="n">is_ajax</span><span class="p">():</span>
		<span class="n">author_name</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">GET</span><span class="p">[</span><span class="s">'author_name'</span><span class="p">]</span>
		<span class="n">author_id</span> <span class="o">=</span> <span class="n">Author</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="n">name</span> <span class="o">=</span> <span class="n">author_name</span><span class="p">)</span><span class="o">.</span><span class="nb">id</span>
		<span class="n">data</span> <span class="o">=</span> <span class="p">{</span><span class="s">'author_id'</span><span class="p">:</span><span class="n">author_id</span><span class="p">,}</span>
		<span class="k">return</span> <span class="n">HttpResponse</span><span class="p">(</span><span class="n">json</span><span class="o">.</span><span class="n">dumps</span><span class="p">(</span><span class="n">data</span><span class="p">),</span> <span class="n">content_type</span><span class="o">=</span><span class="s">'application/json'</span><span class="p">)</span>
	<span class="k">return</span> <span class="n">HttpResponse</span><span class="p">(</span><span class="s">"/"</span><span class="p">)</span></code></pre></figure>

<h4 id="urlspy">Urls.py</h4>
<p>Configure your URLs according to your views</p>

<figure class="highlight"><pre><code class="language-python" data-lang="python"><span class="kn">from</span> <span class="nn">django.conf.urls</span> <span class="kn">import</span> <span class="n">url</span>
<span class="kn">from</span> <span class="nn">my_app.views</span> <span class="kn">import</span> <span class="p">(</span><span class="n">BookCreate</span><span class="p">,</span>
                          <span class="n">AuthorCreatePopup</span><span class="p">,</span>
                          <span class="n">AuthorEditPopup</span><span class="p">,</span>
                          <span class="n">get_author_id</span><span class="p">)</span>

<span class="n">urlpatterns</span> <span class="o">=</span> <span class="p">[</span>
    <span class="o">...</span>
    <span class="n">url</span><span class="p">(</span><span class="s">r'^book/create'</span><span class="p">,</span> <span class="n">BookCreate</span><span class="p">,</span> <span class="n">name</span> <span class="o">=</span> <span class="s">"BookCreate"</span><span class="p">),</span>
    <span class="n">url</span><span class="p">(</span><span class="s">r'^author/create'</span><span class="p">,</span> <span class="n">AuthorCreatePopup</span><span class="p">,</span> <span class="n">name</span> <span class="o">=</span> <span class="s">"AuthorCreate"</span><span class="p">),</span>
    <span class="n">url</span><span class="p">(</span><span class="s">r'^author/(?P&lt;pk&gt;\d+)/edit'</span><span class="p">,</span> <span class="n">AuthorEditPopup</span><span class="p">,</span> <span class="n">name</span> <span class="o">=</span> <span class="s">"AuthorEdit"</span><span class="p">),</span>
    <span class="n">url</span><span class="p">(</span><span class="s">r'^author/ajax/get_author_id'</span><span class="p">,</span> <span class="n">get_author_id</span><span class="p">,</span> <span class="n">name</span> <span class="o">=</span> <span class="s">"get_author_id"</span><span class="p">),</span>
    <span class="o">...</span>
<span class="p">]</span>
 </code></pre></figure>

<h2 id="implementing-client-side">Implementing Client-Side</h2>
<h5 id="templatesbook_formhtml">Templates/book_form.html</h5>
<p>Create the main form for the Book(for this example).</p>

<p>Note that I have taken images from the Admin icon images for add and edit.</p>

<figure class="highlight"><pre><code class="language-pythonx" data-lang="pythonx">{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

&lt;div class = "container"&gt;
	&lt;h1&gt;Create a Book&lt;/h1&gt;
	&lt;form method = 'POST' action= '' enctype = "multipart/form-data" novalidate id = "book-form"&gt;{% csrf_token %}
		&lt;label for="book-title" class="control-label"&gt;Book Title&lt;/label&gt;
			{{form.title }}
		&lt;br&gt;&lt;br&gt;
		&lt;label for="book-author" class="control-label"&gt;Book Author&lt;/label&gt;
		{{form.author }}
		&lt;a href="/author/create" id="add_author" onclick="return showAddPopup(this);"&gt;&lt;img src = "{% static '/images/icon-addlink.svg' %}"&gt;&lt;/a&gt;
		&lt;a id="edit_author" style="cursor: pointer; cursor: hand;"&gt;&lt;img src = "{% static '/images/icon-changelink.svg' %}"&gt;&lt;/a&gt;
		&lt;br&gt;&lt;br&gt;
		&lt;label for="book-price" class="control-label"&gt;Book Price&lt;/label&gt;
		{{form.price }}
		&lt;br&gt;&lt;br&gt;
		&lt;label for="book-publish" class="control-label"&gt;Book Publish&lt;/label&gt;
		{{form.publish }}
		&lt;input type="submit" value = "Submit" /&gt;
	&lt;/form&gt;
&lt;/div&gt;

{% endblock %}</code></pre></figure>

<p>Add the following Jquery Script to either above form or to the base.html</p>

<figure class="highlight"><pre><code class="language-pythonx" data-lang="pythonx">{% block script %}

&lt;script type="text/javascript"&gt;
function showEditPopup(url) {
    var win = window.open(url, "Edit", 
        'height=500,width=800,resizable=yes,scrollbars=yes');
    return false;
}
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
function closePopup(win, newID, newRepr, id) {
    $(id).append('&lt;option value=' + newID + ' selected &gt;' + newRepr + '&lt;/option&gt;')
    win.close();
}

&lt;/script&gt;
{% endblock %}</code></pre></figure>

<p>Create an Ajax Call that will activate when edit link is clicked. This Ajax Call is made to get the ID of the name which it is associated.</p>

<figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">$</span><span class="p">(</span><span class="s2">"#edit_author"</span><span class="p">).</span><span class="nx">click</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span>
	<span class="nx">author_name</span> <span class="o">=</span> <span class="nx">$</span><span class="p">(</span><span class="s2">"#id_author option:selected"</span><span class="p">).</span><span class="nx">text</span><span class="p">();</span>
	<span class="kd">var</span> <span class="nx">data</span> <span class="o">=</span> <span class="p">{</span><span class="s2">"author_name"</span><span class="p">:</span><span class="nx">author_name</span><span class="p">};</span>
    <span class="nx">$</span><span class="p">.</span><span class="nx">ajax</span><span class="p">({</span>
        <span class="na">type</span> <span class="p">:</span> <span class="s1">'GET'</span><span class="p">,</span>
        <span class="na">url</span> <span class="p">:</span>  <span class="s1">'/author/ajax/get_author_id'</span><span class="p">,</span>
        <span class="na">data</span> <span class="p">:</span> <span class="nx">data</span><span class="p">,</span>
        <span class="na">success</span> <span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">data</span><span class="p">){</span>
        	<span class="kd">var</span> <span class="nx">url</span> <span class="o">=</span> <span class="s2">"/author/"</span> <span class="o">+</span> <span class="nx">data</span><span class="p">[</span><span class="s1">'author_id'</span><span class="p">]</span> <span class="o">+</span> <span class="s2">"/edit/"</span><span class="p">;</span>
        	<span class="nx">showEditPopup</span><span class="p">(</span><span class="nx">url</span><span class="p">);</span>
        <span class="p">},</span>
        <span class="na">error</span><span class="p">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span> <span class="p">{</span>
          <span class="nx">alert</span><span class="p">(</span><span class="s2">"Something Went Wrong"</span><span class="p">);</span> 
        <span class="p">}</span>
  	<span class="p">});</span>
<span class="p">})</span></code></pre></figure>

<h4 id="templatesauthor_formhtml">Templates/author_form.html</h4>
<p>Create a basic form for the foreign key Model i.e., Author in this example.</p>

<figure class="highlight"><pre><code class="language-pythonx" data-lang="pythonx">{% extends "base.html" %}

{% block content %}
&lt;div class = "container"&gt;
	&lt;h1&gt;Author Form&lt;/h1&gt;
	&lt;form method = 'POST' action= '' enctype = "multipart/form-data" novalidate id = "author-form"&gt;{% csrf_token %}
		{{form.as_p}}
		&lt;input type="submit" value = "Submit" /&gt;
	&lt;/form&gt;
&lt;/div&gt;
{% endblock %}</code></pre></figure>

<p>If you have followed the same example, you will get this type of output.</p>

<p><img class="img-fluid" alt="" src="/img/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/1.jpg" title="" srcset="/assets/resized/480/1.jpg 480w,/assets/resized/800/1.jpg 800w,/img/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/1.jpg 939w" /></p>

<p>If you have any Question regarding the above tutorial feel free to comment below. And also share the experience with the DjangoPy in the comments below.</p>
 </div>

<br><br>
    <ul class="socialIcons">
        <li><a href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=https://djangopy.org/how-to/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/&picture=https://djangopy.orgimg/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/cover.jpg&name=Reverse Engineering of the Django Admin Foreign Key's Add/Edit Button&caption=%20&description=In this tutorial, we will learn about how to add Django Admin's Foreign key's Add and Edit feature on Django form, so that we can easily add and edit the Foreign Key element in a pop-up window.&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F" class="Icon socialAccount--facebook" target="_blank"></a></li>
        <li><a href="http://twitter.com/intent/tweet?text=Reverse Engineering of the Django Admin Foreign Key's Add/Edit Button - DjangoPy https://djangopy.org/how-to/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/" class="Icon socialAccount--twitter" target="_blank"></a></li>
        <li><a href=" https://plus.google.com/share?url=https://djangopy.org" class="Icon socialAccount--google" target="_blank"></a></li>
        <li><a href="mailto:djangopyz@gmail.com?&subject=DjangoPy | Learn, Code, Implement&body=Reverse Engineering of the Django Admin Foreign Key's Add/Edit Button%0A https://djangopy.org/how-to/reverse-engineering-of-the-django-admin-foreign-keys-addedit-button/" target="_self" class="Icon socialAccount--mail" target="_blank"></a></li>
    </ul>

<br><hr><br>


<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<script type="text/javascript" src = "/js/post_detail.js"></script>

<br><hr><br>
  </div>
  </div>
</div>
</div>

<!-- Latest Posts -->
<section class="latest-posts" style="background-color: #F2F2F2;"> 
  <div class="container">
    <header> 
      <h2 style="text-align:center;">Latest from the blog</h2>
      <br>
    </header>
    <div class="row">
              
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="/how-to/handle-asynchronous-tasks-with-celery-and-django">
         <img class = "img-fluid" alt="" src="/img/handle-asynchronous-tasks-with-celery-and-django/cover.png" title="" srcset="/assets/resized/480/cover.png 480w,/assets/resized/800/cover.png 800w,/img/handle-asynchronous-tasks-with-celery-and-django/cover.png 1360w">

        </a>
      </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">16 February 2018</div>
            <div class="category"><a href="#">how-to</a></div>
          </div><a href="/how-to/handle-asynchronous-tasks-with-celery-and-django" class = "catalogue-item" style="text-decoration: none; padding: 2px 0 8px 0;">
                    <h4>Handle Asynchronous Tasks using celery and Django</h4>
        <div class="catalogue-line" style="padding-bottom:5px;"></div>
          <p class="text-muted">In this post we will learn, how to implement celery to django application, to handle asynchronous tasks with Celery.</p>
        </div></a>
      </div>
              
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="/learn/set-up-authentication-system-in-django-in-just-10-minutes/">
         <img class = "img-fluid" alt="" src="/img/set-up-authentication-system-in-django-in-just-10-minutes/cover.jpg" title="" srcset="/assets/resized/480/cover.jpg 480w,/assets/resized/800/cover.jpg 800w,/img/set-up-authentication-system-in-django-in-just-10-minutes/cover.jpg 1240w">

        </a>
      </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">03 October 2017</div>
            <div class="category"><a href="#">learn</a></div>
          </div><a href="/learn/set-up-authentication-system-in-django-in-just-10-minutes/" class = "catalogue-item" style="text-decoration: none; padding: 2px 0 8px 0;">
                    <h4>Set-up Authentication System in Django in just 10 minutes</h4>
        <div class="catalogue-line" style="padding-bottom:5px;"></div>
          <p class="text-muted">In this post, we will discuss Authentication System in Django. We will be discussing the most abstract way to how to implement on your Django Project in just simple steps....</p>
        </div></a>
      </div>
              
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="/package-of-week/categories-with-django-mptt/">
         <img class = "img-fluid" alt="" src="/img/categories-with-django-mptt/cover.jpg" title="" srcset="/assets/resized/480/cover.jpg 480w,/assets/resized/800/cover.jpg 800w,/img/categories-with-django-mptt/cover.jpg 1240w">

        </a>
      </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">30 July 2017</div>
            <div class="category"><a href="#">package-of-the-week</a></div>
          </div><a href="/package-of-week/categories-with-django-mptt/" class = "catalogue-item" style="text-decoration: none; padding: 2px 0 8px 0;">
                    <h4>Categories with django-mptt</h4>
        <div class="catalogue-line" style="padding-bottom:5px;"></div>
          <p class="text-muted">In this post, we'll learn how to implement categories in Django efficiently by storing hierarchical data in place of making many database queries since database queries are costly in terms...</p>
        </div></a>
      </div>
    
    </div>
  </div>
</section>





      </div>
    </div>
    <center>

<section class="section--subscribe">
  <div class="container">
       <h3 class="u-alignCenter">Stay in touch</h3>
       <p>
         Sign up for our newsletter to get latest updates, news and tutorials on Django. We hate spam as much you do!
       </p>
      <div class="row h-100 justify-content-center align-items-center">
 

    <div class="newsletterForm-wrapper">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="{ get this from MailChimp }" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="textInput textInput--large" id="mce-EMAIL" placeholder="Your email address">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="{ get this from MailChimp }" tabindex="-1" value=""></div>
            <div class="clear u-alignCenter"><input type="submit" value="Get new blog posts by email" name="subscribe" id="mc-embedded-subscribe" class="button-x button--primary"></div>
          </div>
        </form>
         </div>
      </div>
      <!--End mc_embed_signup-->
    </div>
    <hr/>
  </div>
</section>

</center>

<footer class="section--footer">
  <div class="container container--content">
    <ul class="socialAccountList row h-100 justify-content-center align-items-center">
      <li><a href="http://www.github.com/djangopy-org" class="socialAccount socialAccount--github" target="_blank"></a></li>
        <li><a href="http://facebook.com/djangopy-org" class="socialAccount socialAccount--facebook" target="_blank"></a></li>
        <li><a href="http://twitter.com/username" class="socialAccount socialAccount--twitter" target="_blank"></a></li>
        <li><a href="http://www.google.com/in/username" class="socialAccount socialAccount--google" target="_blank"></a></li>
        <li><a href="mailto:djangopyz@gmail.com?&amp;subject=DjangoPy | Learn, Code, Implement&amp;body=How to Implement Categories in Django%0A https://djangopy.org/how-to/how-to-implement-categories-in-django/" target="_self" class="socialAccount socialAccount--mail" target="_blank"></a></li>
    </ul>
        <div>
      Hand-crafted with <i class="fa fa-code fa-lg"></i> + <i class="fa fa-heart fa-lg"></i> + <i class="fa fa-coffee fa-lg"></i>
    </div>
    <div>
      © 2018 All Rights Reserved
    </div>
    <center><a href = "/terms-of-services" target = "_self">Term of Service</a> | <a href="/privacy-policy" target="_self">Privacy Policy</a> | <a href = "/disclaimer" target = "_self">Disclaimer </a> | <a href = "/sitemap.xml" target="_self">Sitemap</a></center>
  </div>
</footer>

  </body>

</html>


